-
	//- Информация
	const phone = '8 800 161 73 00';
	const phoneLink = 'tel:88001617300';
	const email = 'info@mebit.ru';
	const emailLink = 'mailto:info@mebit.ru';
	const insky = 'https://insky.digital/';
	const telegram = 'https://telegram.org/';
	const whatsapp = 'https://www.whatsapp.com/';
	const facebook = 'https://www.facebook.com/';
	const instagram = 'https://www.instagram.com/';
	const vk = 'https://vk.com/';

	//- Страницы
	const index = 'index.html';
	const catalog = 'catalog.html';
	const section = 'section.html';
	const subsection = 'subsection.html';
	const productSimple = 'product-simple.html';
	const productSet = 'product-set.html';
	const factories = 'factories.html';
	const collaboration = 'collaboration.html';
	const about = 'about.html';
	const shippingAndPayment = 'shipping-and-payment.html';
	const bookmarks = 'bookmarks.html';
	const favorites = 'favorites.html';
	const cart = 'cart.html';
	const policy = 'policy.html';
	const notFound = '404.html';
