// DESIGN MODAL
.design-modal {
	position: fixed;
	z-index: -1;
	display: grid;
	width: 100%;
	height: calc(var(--vh) * 100);
	background: #fff;
	opacity: 0;
	transition: opacity .3s;
	pointer-events: none;

	&--open {
		z-index: 20;
		opacity: 1;
		pointer-events: visible;
	}
}

.design-modal__container {
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 1fr 1fr;
	overflow: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 100%;

	@media (max-width: 1399px) {
		grid-column-gap: 30px;
	}

	@media (max-width: 767px) {
		grid-column-gap: 20px;
		grid-template-columns: 1fr;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	@media (max-width: 479px) {
		grid-column-gap: 10px;
	}
}

.design-modal__close {
	position: absolute;
	right: 30px;
	top: 50px;

	@media (max-width: 1399px) {
		position: relative;
		right: auto;
		top: auto;
		justify-self: end;
		grid-column: 1/-1;
		grid-row: 1/2;
		margin: 0 0 20px;
	}
}

.design-modal__title {
	align-self: start;
	grid-column: 1/2;
	grid-row: 1/2;
	margin: 0 0 20px;
	max-width: 540px;

	@media (max-width: 1399px) {
		grid-row: 2/3;
		max-width: 380px;
	}

	@media (max-width: 1023px) {
		max-width: 300px;
	}

	@media (max-width: 767px) {
		justify-self: center;
		grid-row: 2/3;
		margin: 0 0 16px;
		max-width: 260px;
		text-align: center;
	}
}

.design-modal__form {
	display: grid;
	grid-column: 2/3;
	grid-gap: 40px;
	grid-row: 1/3;
	grid-template-columns: 1fr 1fr;
	margin: 0;
	border: none;
	width: 100%;
	max-width: 620px;

	@media (max-width: 1599px) {
		grid-gap: 30px;
	}

	@media (max-width: 1399px) {
		grid-gap: 20px;
		grid-row: 2/3;
	}

	@media (max-width: 767px) {
		grid-column: 1/2;
		grid-row: 3/4;
		max-width: 100%;
	}

	@media (max-width: 479px) {
		grid-gap: 10px;
	}
}

.design-modal__wrapper {
	position: relative;
	display: grid;
	grid-column: 1/3;

	&--right {
		grid-column: 2/3;
	}

	&--left {
		grid-column: 1/2;
	}

	@media (max-width: 767px) {
		&--right {
			grid-column: 1/3;
		}

		&--left {
			grid-column: 1/3;
		}
	}
}

.form__wrapper .form__error {
	opacity: 0;
	transition: opacity .3s;
}

.form__wrapper._error .form__error {
	opacity: 1;
}

.design-modal__file-wrap {
	position: relative;
	display: grid;
	justify-self: start;
	cursor: pointer;
}

.design-modal__file-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	opacity: 0;
	cursor: pointer;
	pointer-events: visible !important;

	&--active {
		pointer-events: none !important;
	}
}

.design-modal__files {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;
	padding-top: 20px;

	@media (max-width: 1023px) {
		padding-top: 10px;
	}
}

.design-modal__input-file {
	display: flex;
	align-items: center;
	margin: 0 10px 10px 0;
	border-radius: 40px;
	padding-left: 20px;
	color: #131313;
	background: #f4f4f4;

	@media (max-width: 1023px) {
		padding-left: 10px;
	}
}

.design-modal__input-name {
	padding: 4px 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

	@media (max-width: 1399px) {
		font-size: 16px;
		line-height: 24px;
	}

	@media (max-width: 1023px) {
		font-size: 14px;
		line-height: 20px;
	}
}

.design-modal__input-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	cursor: pointer;

	&::before {
		content: "";
		position: relative;
		width: 10px;
		height: 10px;
		background-image: url("../images/file-close.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	@media (max-width: 1023px) {
		width: 32px;
		height: 32px;
	}
}

.design-modal__input {
	display: flex;
	border: none;
	padding: 30px 44px;
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #131313;
	background-color: #f4f4f4;

	&::placeholder {
		opacity: .5;
	}

	&--textarea {
		min-height: 167px;
	}

	@media (max-width: 1399px) {
		padding: 18px 24px;
		font-size: 16px;
		line-height: 24px;
	}

	@media (max-width: 1023px) {
		padding: 15px 20px;
		font-size: 14px;
		line-height: 20px;
		text-align: center;

		&--textarea {
			margin-bottom: 10px;
		}
	}
}

.design-modal__error {
	position: absolute;
}

.design-modal__file {
	position: relative;
	z-index: -1;
	justify-self: start;
	margin: 0 0 0 32px;
	border-bottom: 1px solid rgb(19 19 19 / 50%);
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: rgb(19 19 19 / 50%);
	transition: color .3s, border-bottom .3s;

	&::before {
		content: "";
		position: absolute;
		left: -32px;
		top: 50%;
		width: 20px;
		height: 20px;
		background-image: url("../images/screp.svg");
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 1;
		transform: translateY(-50%);
	}

	svg {
		fill: none;
		stroke: #131313;
		pointer-events: visible;
	}

	@media (max-width: 1599px) {
		font-size: 16px;
		line-height: 24px;
	}

	@media (max-width: 1023px) {
		font-size: 14px;
		line-height: 20px;
	}
}

.design-modal__file-wrap:hover .design-modal__file,
.design-modal__file-wrap:focus-within .design-modal__file {
	border-bottom: 1px solid transparent;
	color: #131313;
}

.design-modal__submit {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1/3;
	border: 1px solid rgb(19 19 19 / 50%);
	padding: 12px;
	width: 100%;
	min-height: 90px;
	font-weight: 800;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	transition: color .3s, background-color .3s, border-color .3s;

	&:hover {
		border-color: #e5e5e5;
		color: #131313;
		background-color: #e5e5e5;
	}

	@media (max-width: 1399px) {
		min-height: 70px;
		font-size: 12px;
		line-height: 15px;
	}

	@media (max-width: 1023px) {
		margin-bottom: 10px;
	}

	@media (max-width: 767px) {
		margin-top: 10px;
		min-height: 50px;
	}
}

.design-modal__consent {
	display: grid;
	grid-column: 1/3;

	@media (max-width: 1023px) {
		justify-self: center;
	}
}

.design-modal__label {
	position: relative;
	padding-left: 48px;
	max-width: 600px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgb(19 19 19 / 50%);
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 4px;
		width: 28px;
		height: 28px;
		background-color: #f4f4f4;
	}

	&::after {
		content: "";
		position: absolute;
		left: 7px;
		top: 9px;
		z-index: 1;
		width: 11px;
		height: 9px;
		background-image: url("../images/check.svg");
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .3s;
	}

	a {
		text-decoration: underline;
	}

	@media (max-width: 1399px) {
		font-size: 14px;
		line-height: 16px;
	}

	@media (max-width: 1023px) {
		padding-left: 36px;
		max-width: 320px;
		font-size: 10px;
		line-height: 12px;
	}

	@media (max-width: 767px) {
		max-width: 240px;
	}
}

.design-modal__checkbox:checked ~ .design-modal__label::after {
	opacity: 1;
}

.design-modal__link {
	position: relative;
	align-self: end;
	justify-self: start;
	grid-column: 1/2;
	grid-row: 2/3;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #131313;
	opacity: .6;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #131313;
	}

	@media (max-width: 1599px) {
		font-size: 16px;
		line-height: 24px;
	}

	@media (max-width: 767px) {
		display: none;
	}
}
