// LOOP MODAL
.loop-modal {
	position: fixed;
	z-index: -1;
	display: grid;
	overflow: auto;
	width: 100%;
	height: calc(var(--vh) * 100);
	background: #fff;
	opacity: 0;
	transition: opacity .3s;
	pointer-events: none;

	&--open {
		z-index: 20;
		opacity: 1;
		pointer-events: visible;
	}
}

.loop-modal__container {
	display: grid;
}

.loop-modal__close {
	position: absolute;
	right: 60px;
	top: 50px;

	@media (max-width: 1599px) {
		right: 30px;
		top: 30px;
	}

	@media (max-width: 767px) {
		right: 20px;
		top: 20px;
	}
}

.loop-modal__swiper-wrap {
	display: grid;
	width: 100%;
	height: 100%;
}

.loop-modal__buttons {
	position: relative;
	z-index: 4;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-column: 1/2;
	grid-column-gap: 20px;
	grid-row: 1/2;
	grid-template-columns: max-content max-content;
	padding: 0 60px;
	pointer-events: none;

	@media (max-width: 1599px) {
		padding: 0 30px;
	}

	@media (max-width: 767px) {
		display: none;
	}
}

.loop-modal__swiper-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	background: #fff;
	pointer-events: visible;
	transition: background .3s;

	svg {
		fill: none;
		stroke: #131313;
		stroke-width: 1px !important;
	}

	&:hover,
	&:focus {
		background: #E5E5E5;
	}
}

.loop-modal__swiper {
	display: grid;
	justify-self: center;
	grid-column: 1/2;
	grid-row: 1/2;
	overflow: hidden;
	margin: 0 120px;
	width: 100%;
	width: calc(100vw - 240px);
	max-width: 1620px;

	@media (max-width: 1599px) {
		margin: 0 90px;
		width: calc(100vw - 180px);
		max-width: 1560px;
	}

	@media (max-width: 767px) {
		position: relative;
		align-self: center;
		margin: 0;
		padding-bottom: 70%;
		width: 100%;
		height: 0;
		max-width: 100%;
	}
}

.loop-modal__swiper-wrapper {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	@media (max-width: 767px) {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.loop-modal__swiper-slide {
	position: relative;
	display: grid;
	flex-shrink: 0;
	align-items: center;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		max-width: inherit;
		object-fit: cover;
	}
}

.loop-modal__dots {
	position: relative;
	z-index: 3;
	display: grid;
	align-self: end;
	justify-self: center;
	grid-auto-flow: column;
	grid-column: 1/2;
	grid-gap: 10px;
	grid-row: 1/2;
	padding: 24px 148px;
	width: 100%;
	max-width: 1860px;
	pointer-events: none;

	.swiper-pagination-bullet {
		border-radius: 10px;
		width: 100%;
		height: 3px;
		background: rgb(255 255 255 / 60%);
		transition: background .3s;
		cursor: pointer;
		pointer-events: visible;

		&:hover,
		&:focus {
			background: #fff;
		}
	}

	.swiper-pagination-bullet-active {
		background: #fff;
	}

	@media (max-width: 767px) {
		justify-content: center;
		// grid-row: 2/3;
		padding: 40px;

		.swiper-pagination-bullet {
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background: rgb(19 19 19 / 20%);
		}

		.swiper-pagination-bullet-active {
			background: #131313;
		}
	}
}
