// MODAL
.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -100;
	display: grid;
	overflow: auto;
	width: 100%;
	height: 100%;
	max-height: 100%;
	background: rgb(19 19 19 / 70%);
	opacity: 0;
	transition: opacity .1s;
	pointer-events: none;

	&--open {
		z-index: 100;
		opacity: 1;
		pointer-events: visible;
	}
}

.modal__close {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	padding: 0;
	width: 34px;
	height: 34px;
	background: #f1f1f1;
	transition: background .3s;

	svg {
		fill: none;
		stroke: #131313;
		stroke-width: 2px;
		transition: stroke .3s;
	}

	&:hover,
	&:focus {
		background: #131313;

		svg {
			stroke: #fff;
		}
	}
}

.modal__title {
	font-family: $old-standard;
	font-weight: 700;
	font-size: 80px;
	line-height: 99px;
	color: #131313;

	@media (max-width: 1599px) {
		font-size: 60px;
		line-height: 80px;
	}

	@media (max-width: 1399px) {
		font-size: 48px;
		line-height: 48px;
	}

	@media (max-width: 1023px) {
		font-size: 36px;
		line-height: 36px;
	}

	@media (max-width: 767px) {
		font-size: 30px;
		line-height: 38px;
	}
}
