// PAGE NAVIGATION
.page-navigation {
	display: grid;
	align-self: start;
	border-bottom: 1px solid rgb(255 255 255 / 20%);
	padding-left: 80px;
	min-height: 80px;
	background-color: transparent;
	transition: background-color .3s;
	pointer-events: visible;

	&--scroll,
	&--active {
		background-color: #131313;
	}

	@media (min-width: 1920px) {
		grid-template-columns: max-content minmax(max-content, 1fr) max-content max-content;
	}

	@media (max-width: 1919px) {
		grid-template-columns: minmax(max-content, 1fr) max-content max-content;
	}

	@media (max-width: 1023px) {
		grid-template-columns: minmax(max-content, 1fr) max-content;
		padding-left: 10px;
		min-height: 40px;
	}
}

.page-navigation__logo {
	align-self: center;
	justify-self: start;
	margin: 0 68px;

	@media (max-width: 1919px) {
		margin: 0 0 0 68px;
	}

	@media (max-width: 1279px) {
		margin: 0 0 0 40px;
	}

	@media (max-width: 1023px) {
		margin: 0 0 0 10px;
	}

	@media (max-width: 479px) {
		margin: 0;
		max-width: 122px;
	}
}

.page-navigation__list-wrapper {
	display: grid;
	transition: opacity .3s;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
		height: 0;
	}

	@media (min-width: 1920px) {
		opacity: 1;
	}

	@media (max-width: 1919px) {
		position: absolute;
		top: 80px;
		background-color: #131313;
		opacity: 0;
		pointer-events: none;

		&--visible {
			border-bottom: 1px solid rgb(255 255 255 / 20%);
			opacity: 1;
			pointer-events: visible;
		}
	}

	@media (min-width: 1024px) {
		right: 0;
		border-left: 1px solid rgb(255 255 255 / 20%);
		padding: 32px 20px;

		.page-navigation__contacts {
			display: none;
		}
	}

	@media (max-width: 1023px) {
		z-index: 2;
		overflow: auto;
		border: none;
		padding: 54px 20px 30px;
		width: 100%;
		height: calc((var(--vh) * 100) - 140px);

		.page-navigation__contacts {
			display: grid;
			align-items: center;
			align-self: end;
			justify-self: center;
			grid-auto-flow: column;
			grid-column-gap: 16px;
		}
	}

	@media (max-width: 479px) {
		top: 40px;
		height: calc((var(--vh) * 100) - 100px);
	}
}

.page-navigation__list {
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;

	@media (min-width: 1920px) {
		justify-content: center;
		grid-auto-flow: column;
		grid-column-gap: 16px;
	}

	@media (max-width: 1919px) {
		justify-items: end;
		grid-row-gap: 16px;
	}

	@media (max-width: 1023px) {
		align-self: start;
		justify-items: center;
		grid-row-gap: 30px;
		margin: 0 0 50px;
	}
}

.page-navigation__item {
}

.page-navigation__link {
	position: relative;
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	grid-column-gap: 8px;
	height: 100%;
	font-weight: 800;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -33.5px;
		width: 100%;
		height: 2px;
		background-color: #fff;
		opacity: 0;
		transition: opacity .3s;
	}

	svg {
		position: relative;
		top: -1px;
		stroke: #fff;
		stroke-width: 2px;
	}

	&:hover,
	&:focus {
		&::before {
			opacity: 1;
		}
	}

	&--current {
		&::before {
			opacity: 1;
		}
	}

	@media (max-width: 1919px) {
		&:hover,
		&:focus {
			&::before {
				display: none;
			}
		}

		&--current {
			&::before {
				display: none;
			}
		}
	}

	@media (max-width: 1023px) {
		font-family: $old-standard;
		font-weight: 400;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		text-transform: none;

		svg {
			display: none;
		}
	}
}

.page-navigation__contacts {
	@media (min-width: 1024px) {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		grid-column-gap: 16px;
		margin: 0 32px 0 60px;
	}

	@media (max-width: 1023px) {
		display: none;
	}
}

.page-navigation__messengers {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 8px;
}

.page-navigation__phone {
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	white-space: nowrap;
	transition: color .3s;

	&:hover,
	&:focus {
		color: #848484;
	}

	@media (max-width: 1279px) {
		font-size: 16px;
		line-height: 16px;
	}

	@media (max-width: 1023px) {
		font-weight: 300;
		font-size: 27px;
		line-height: 30px;
	}
}

.page-navigation__user-links {
	display: grid;

	@media (min-width: 1024px) {
		grid-auto-flow: column;
	}

	@media (max-width: 1023px) {
		.user-link {
			display: none;
		}
	}
}

.page-navigation__menu-open {
	@media (min-width: 1920px) {
		display: none;
	}

	@media (max-width: 1919px) {
		position: relative;
		display: flex;
		border: none;
		border-left: 1px solid rgb(255 255 255 / 20%);
		padding: 0;
		min-width: 80px;
		min-height: 79px;
		background-color: transparent;

		span {
			transition: width .3s, transform .3s;
		}

		&[aria-expanded="false"] {
			span {
				position: absolute;
				right: 23px;
				width: 32px;
				height: 2px;
				background-color: #fff;

				&:nth-child(2) {
					top: 27px;
				}

				&:nth-child(3) {
					top: 39px;
					width: 24px;
					transition: width .3s;
				}

				&:nth-child(4) {
					top: 51px;
				}
			}

			&:hover,
			&:focus {
				span {
					&:nth-child(3) {
						width: 32px;
					}
				}
			}
		}

		&[aria-expanded="true"] {
			span {
				position: absolute;
				width: 32px;
				height: 2px;
				background-color: #fff;

				&:nth-child(2) {
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:nth-child(3) {
					display: none;
				}

				&:nth-child(4) {
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}

	@media (max-width: 479px) {
		min-width: 40px;
		min-height: 39px;

		&[aria-expanded="false"] {
			span {
				right: 10px;
				width: 20px;
				height: 1px;

				&:nth-child(2) {
					top: 14px;
				}

				&:nth-child(3) {
					top: 19px;
					width: 16px;
				}

				&:nth-child(4) {
					top: 24px;
				}
			}

			&:hover,
			&:focus {
				span {
					&:nth-child(3) {
						width: 20px;
					}
				}
			}
		}

		&[aria-expanded="true"] {
			span {
				width: 20px;
				height: 1px;
			}
		}
	}
}
