// PREVIEW
.preview {
	display: grid;
	margin: 0 0 144px;
	height: 100vh;
	max-height: 100%;

	@media (max-width: 1399px) {
		margin: 0 0 80px;
	}

	@media (max-width: 1023px) {
		margin: 0 0 67px;
		height: auto;
	}
}
.preview__container {}

.preview__swiper {
	display: grid;

	@media (max-width: 1023px) {
		grid-template-rows: auto max-content;
	}
}

.preview__swiper-container {
	position: relative;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	overflow: hidden;

	@media (max-width: 1023px) {
		min-height: 760px;
	}

	@media (max-width: 767px) {
		min-height: 640px;
	}

	@media (max-width: 479px) {
		min-height: 510px;
	}
}

.preview__swiper-wrapper {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.preview__swiper-navigation {
	position: relative;
	z-index: 6;
	display: grid;
	align-self: end;
	grid-column: 1/2;
	pointer-events: none;

	@media (min-width: 1024px) {
		justify-self: end;
		grid-column-gap: 36px;
		grid-row: 1/2;
		grid-template-columns: max-content max-content max-content;
		padding: 0 36px 36px 0;
	}

	@media (max-width: 1023px) {
		justify-self: center;
		grid-row: 2/3;
		padding: 16px;
	}
}

.preview__swiper-button {
	@media (min-width: 1024px) {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		border: none;
		padding: 0;
		width: 40px;
		height: 40px;
		background-color: transparent;
		pointer-events: visible;

		svg {
			fill: none;
			stroke: #fff;
			stroke-width: 2px;
			transition: width .1s, height .1s;
		}

		&:hover,
		&:focus {
			svg {
				width: 10px;
				height: 20px;
			}
		}
	}

	@media (max-width: 1023px) {
		display: none;
	}
}

.preview__swiper-dots {
	display: grid;
	align-self: center;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	pointer-events: visible;

	.swiper-pagination-bullet {
		display: flex;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		background-color: rgb(255 255 255 / 20%);
		transition: background-color .3s;
		cursor: pointer;
	}

	.swiper-pagination-bullet-active {
		background-color: #fff;
	}

	@media (max-width: 1023px) {
		grid-column-gap: 15px;
	}

	@media (max-width: 479px) {
		grid-column-gap: 10px;
	}
}
