-
	const aboutItems = ['', '', '', '', '', ''];

section.about
	div.about__container.container
		div.about__content-wrapper
			h1.about__title О нас
			p.about__sub-title Наш салон итальянской мебели предлагает мебель из Италии со склада в Москве и на заказ.
			ol.about__num-list
				li Мы также обеспечиваем минимальные сроки выполнения заказов
				li Наши менеджеры помогут Вам подобрать оптимальный вариант обстановки Вашего дома, помогут обустроить правильно спальню, кухню, гостиную или другую комнату
				li Вся мебель Италии, купленная в нашем салоне обеспечивается профессиональной доставкой и сборкой, а также гарантийным обслуживанием
		div.about__swiper-wrapper
			div.about__swiper.swiper
				ul.about__swiper-list.swiper-wrapper
					each item in aboutItems
						li.about__swiper-item.swiper-slide
							h2.about__swiper-title Спальня Mirage
							div.about__swiper-image
								img(src="images/about-slide.jpg", alt="Слайд")
							a.about__swiper-link(href=index) Узнать больше —
			div.about__swiper-navigation
				button.about__swiper-button.about__swiper-button--prev(type="button")
					span.visually-hidden Предыдущий слайд
					svg(width="7", height="14", aria-hidden="true")
						use(xlink:href="images/sprite.svg#preview-prev")
				div.about__swiper-dots
				button.about__swiper-button.about__swiper-button--next(type="button")
					span.visually-hidden Следующий слайд
					svg(width="7", height="14", aria-hidden="true")
						use(xlink:href="images/sprite.svg#preview-next")
		ul.about__bottom-list
			li.about__bottom-item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
			li.about__bottom-item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
