section.about-form
	div.about-form__container.container
		form.about-form__form.form
			fieldset.about-form__fieldset
				legend.about-form__legend Заполни заявку на сайте и мы свяжемся с вами
				div.about-form__wrapper.form__wrapper.about-form__wrapper--name
					input.about-form__input.form__input._req._name(type="text", id="about-name", name="name", placeholder="Введите имя или организацию")
					label.visually-hidden(for="about-name") Ваше имя или название организации
					span.about-form__error.form__error
				div.about-form__wrapper.about-form__wrapper--phone.form__wrapper
					input.about-form__input.form__input._req._tel(type="tel", id="about-tel", name="phone", placeholder="Телефон")
					label.visually-hidden(for="about-tel") Ваш номер телефона
					span.about-form__error.form__error
				div.about-form__wrapper.about-form__wrapper--email.form__wrapper
					input.about-form__input.form__input._req._email(type="email", id="about-email", name="email", placeholder="Email")
					label.visually-hidden(for="about-email") Ваш email
					span.about-form__error.form__error
				div.about-form__wrapper.form__wrapper.about-form__wrapper--comment
					textarea.about-form__input.about-form__input--textarea.form__input(id="about-comment", name="comment", placeholder="Комментарий")
					label.visually-hidden(for="about-comment") Оставьте комментарий
				div.about-form__consent
					input.about-form__checkbox.visually-hidden(type="checkbox", id="about-check", name="consent", checked)
					label.about-form__label.form__label(for="about-check") Соглашаюсь с обработкой персональных данных в соответствии с&nbsp;
						a(href=policy) политикой конфиденциальности
				button.about-form__submit(type="submit") Оставить заявку —
