// Пустая корзина (убрать visually-hidden)
div.cart-empty.visually-hidden
	p.cart-empty__title В корзине пусто!
	p.cart-empty__description Перейдите в каталог, чтобы выбрать итальянскую мебель и предметы интерьера
	a.cart-empty__link(href=catalog) Перейти в каталог —
