// Чтобы отобразить, нужно убрать cookie--closed
div.cookie.cookie--closed
	div.cookie__container
		p.cookie__text Мы используем cookie и другие аналогичные технологии. Если, прочитав это сообщение, вы остаетесь на нашем сайте, это означает, что вы не возражаете против использования этих технологий
		button.cookie__close(type="button") Ок —
