-
	const factoriesItems = [
		{
			letter: 'A',
			list: [
				{text: 'AR Arredamenti', link: index},
				{text: 'BR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
			],
		},
		{
			letter: 'B',
			list: [
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
			],
		},
		{
			letter: 'C',
			list: [
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
			],
		},
		{
			letter: 'D',
			list: [
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
			],
		},
		{
			letter: 'M',
			list: [
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
				{text: 'AR Arredamenti', link: index},
			],
		},
	];

section.factories
	div.factories__container.container
		h1.factories__title Мебельные фабрики Италии
		div.factories__list-wrapper
			each factory in factoriesItems
				div.factories__section
					button.factories__letter(type="button", aria-expanded="false")
						span!= factory.letter
						svg(width="10", height="6", aria-hidden="true")
							use(xlink:href="images/sprite.svg#arrow-small-bottom")
					ul.factories__list
						each item in factory.list
							li.factories__item
								a.factories__link(href=item.link)!= item.text
		form.factories__form.form
			fieldset.factories__fieldset
				legend.factories__legend Заполни заявку на сайте и мы свяжемся с вами
				div.factories__wrapper.form__wrapper.factories__wrapper--name
					input.factories__input.form__input(type="text", id="", name="name", placeholder="Введите имя или организацию")
					label.visually-hidden(for="") Ваше имя или название организации
					span.factories__error.form__error
				div.factories__wrapper.factories__wrapper--phone.form__wrapper
					input.factories__input.form__input(type="tel", id="", name="phone", placeholder="Телефон")
					label.visually-hidden(for="") Ваш номер телефона
					span.factories__error.form__error
				div.factories__wrapper.factories__wrapper--email.form__wrapper
					input.factories__input.form__input(type="email", id="", name="email", placeholder="Email")
					label.visually-hidden(for="") Ваш email
					span.factories__error.form__error
				div.factories__wrapper.form__wrapper.factories__wrapper--comment
					textarea.factories__input.factories__input--textarea.form__input(id="", name="comment", placeholder="Комментарий")
					label.visually-hidden(for="") Оставьте комментарий
					span.factories__error.form__error
				div.factories__consent
					input.factories__checkbox.visually-hidden(type="checkbox", id="factories-check", name="consent", checked)
					label.factories__label.form__label(for="factories-check") Соглашаюсь с обработкой персональных данных в соответствии с&nbsp;
						a(href=policy) политикой конфиденциальности
					span.factories__error.form__error
				button.factories__submit(type="submit") Оставить заявку —
