-
	const homeNewItems = [
		{ title: 'Прикроватная тумба от фабрики Biba Salotti', tags: ['new'], href: index, image: { src: 'images/home-new01.jpg', alt: 'Описание' }},
		{ title: 'Спальня от фабрики Camelgroup', href: index, tags: ['new'], image: { src: 'images/home-new02.jpg', alt: 'Описание' }},
		{ title: 'Гостиная от фабрики Fasolin', href: index, tags: ['new'], image: { src: 'images/home-new03.jpg', alt: 'Описание' }},
		{ title: 'Спальня от фабрики Camelgroup', href: index, tags: ['new'], image: { src: 'images/home-new02.jpg', alt: 'Описание' }},
		{ title: 'Гостиная от фабрики Fasolin', href: index, tags: ['new'], image: { src: 'images/home-new03.jpg', alt: 'Описание' }},
		{ title: 'Спальня от фабрики Camelgroup', href: index, tags: ['new'], image: { src: 'images/home-new02.jpg', alt: 'Описание' }},
		{ title: 'Гостиная от фабрики Fasolin', href: index, tags: ['new'], image: { src: 'images/home-new03.jpg', alt: 'Описание' }},
		{ title: 'Спальня от фабрики Camelgroup', href: index, tags: ['new'], image: { src: 'images/home-new02.jpg', alt: 'Описание' }},
		{ title: 'Гостиная от фабрики Fasolin', href: index, tags: ['new'], image: { src: 'images/home-new03.jpg', alt: 'Описание' }},
	];

section.home-new
	div.home-new__container.container
		h2.home-new__title Новинки
		div.home-new__buttons
			button.home-new__swiper-button.home-new__swiper-button--prev(type="button")
				span.visually-hidden Предыдущий слайд
				svg(width="10", height="16", aria-hidden="true")
					use(xlink:href="images/sprite.svg#preview-prev")
			button.home-new__swiper-button.home-new__swiper-button--next(type="button")
				span.visually-hidden Следующий слайд
				svg(width="10", height="16", aria-hidden="true")
					use(xlink:href="images/sprite.svg#preview-next")
		div.home-new__swiper.swiper
			ul.home-new__swiper-wrapper.swiper-wrapper
				each item in homeNewItems
					li.home-new__swiper-slide.swiper-slide
						h3.home-new__swiper-title
							a.home-new__swiper-link(href=item.href)!= item.title
						div.home-new__swiper-container
							div.home-new__swiper-image
								img(src=item.image.src, alt=item.image.alt)
							div.home-new__swiper-tags
								each tag in item.tags
									span!= tag
