section.not-found
	div.not-found__container.container
		div.not-found__wrapper
			h1.not-found__title Страница не найдена!
			p.not-found__description Вы можете вернуться на главную страницу сайта или в <a href="catalog.html">мебельный каталог</a>
			a.not-found__return(href=index) вернуться на главную —
		div.not-found__decors(aria-hidden="true")
			div.not-found__404
			div.not-found__chair
			div.not-found__table
