section.result
	h1.visually-hidden Результат поиска

	div.result__empty-container.container
		p.result__empty-title По вашему запросу ничего не найдено
		p.result__empty-description Опробуйте изменить запрос или проверьте правильность набора
