section.section-catalog__factories
	div.section-catalog__factories-container.container
		h2.section-catalog__factories-title Каталоги спален
		+factoriesList.section-catalog__list
		+pagination.section-catalog__pagination
