section.video-section
	div.video-section__container.container
		div.video-section__content.video
			div.video-section__wrapper.video__before
				h2.video-section__title Как мы привезем вашу мебель
				button.video-section__button(type="button", aria-label="Запустить видео")
					span
					svg(width="30", height="36", aria-hidden="true")
						use(xlink:href="images/sprite.svg#play")
			div.video-section__image.video__before
				img(src="images/video-preview.jpg", alt="Обложка видео")
			div.video-section__player.video__player
				video(id="my-player", class="video-js", controls, preload="auto", poster="//vjs.zencdn.net/v/oceans.png", data-setup='{}')
					source(src="//vjs.zencdn.net/v/oceans.mp4", type="video/mp4")
					source(src="//vjs.zencdn.net/v/oceans.webm", type="video/webm")
					source(src="//vjs.zencdn.net/v/oceans.ogv", type="video/ogg")
			p.video-section__mobile.video__mobile(aria-hidden="true") Как мы привезем вашу мебель
