extends ../layout.pug

block const
	- const currentPage = notFound;

block meta
	title Страница не найдена
	meta(name="description", content="")
	meta(name="keywords", content="")
block content

block prepend page-bottom
