extends ../layout.pug

block const
	- const currentPage = about;

block meta
	title О компании
	meta(name="description", content="")
	meta(name="keywords", content="")
block content
	div.crumbs.container
		a.crumbs__link(href=index) Главная <span>→</span>
		span.crumbs__current О компании
	include ../components/about
	include ../components/about-photos
	include ../components/about-contacts
	include ../components/factories-section
	include ../components/about-form

block prepend page-bottom
