extends ../layout.pug

block const
	- const currentPage = bookmarks;

block meta
	title Закладки
	meta(name="description", content="")
	meta(name="keywords", content="")
block content
	div.crumbs.container
		a.crumbs__link(href=index) Главная <span>→</span>
		span.crumbs__current Мои закладки
	include ../components/bookmarks

block prepend page-bottom
	include ../components/filter-mobile
	button.filter-button(type="button")
		span.visually-hidden Открыть фильтр
		svg(width="18", height="16", aria-hidden="true")
			use(xlink:href="images/sprite.svg#filters-open")
