extends ../layout.pug

block const
	- const currentPage = cart;

block meta
	title Корзина
	meta(name="description", content="")
	meta(name="keywords", content="")
block content

block prepend page-bottom
