extends ../layout.pug

block const
	- const currentPage = cart;
	- const cartModal = true;

block meta
	title Корзина
	meta(name="description", content="")
	meta(name="keywords", content="")
block content
	div.crumbs.container
		a.crumbs__link(href=index) Главная <span>→</span>
		span.crumbs__current Корзина
	section.cart
		div.cart__container.container
			h1.cart__title Корзина
			include ../components/cart-empty
block prepend page-bottom
