extends ../layout.pug

block const
	- const currentPage = catalog;

block meta
	title Каталог
	meta(name="description", content="")
	meta(name="keywords", content="")
block content

block prepend page-bottom
