extends ../layout.pug

block const
	- const currentPage = factories;

block meta
	title Фабрики
	meta(name="description", content="")
	meta(name="keywords", content="")
block content
	div.crumbs.container
		a.crumbs__link(href=index) Главная <span>→</span>
		span.crumbs__current Бренды
	include ../components/factories

block prepend page-bottom
