extends ../layout.pug

block const
	- const currentPage = policy;

block meta
	title Политика
	meta(name="description", content="")
	meta(name="keywords", content="")
block content

block prepend page-bottom
