extends ../layout.pug

block const
	- const currentPage = policy;

block meta
	title Политика
	meta(name="description", content="")
	meta(name="keywords", content="")
block content
	div.crumbs.container
		a.crumbs__link(href=index) Главная <span>→</span>
		span.crumbs__current Политика конфиденциальности
	include ../components/policy

block prepend page-bottom
