extends ../layout.pug

block const
	- const currentPage = productSet;
	- const loopModal = true;
	- const settFormModal = true;

block meta
	title Кровать Alchemy
	meta(name="description", content="")
	meta(name="keywords", content="")
block content
	div.crumbs.container
		a.crumbs__link(href=index) Главная <span>→</span>
		a.crumbs__link(href=index) Каталог <span>→</span>
		a.crumbs__link(href=index) Спальни <span>→</span>
		span.crumbs__current Спальня Alchemy
	include ../components/product-sett
	include ../components/texture
	+productList('Собери свою спальню').product-list--border
	+simpleCard('Недавно просмотренные').simple-card--border
	+simpleCard('Вам может понравиться').simple-card--border
	include ../components/factories-brand

block prepend page-bottom
