extends ../layout.pug

block const
	- const currentPage = productSimple;

block meta
	title Кровать Alchemy
	meta(name="description", content="")
	meta(name="keywords", content="")
block content

block prepend page-bottom
