extends ../layout.pug

block const
	- const currentPage = section;

block meta
	title Спальни
	meta(name="description", content="")
	meta(name="keywords", content="")
block content

block prepend page-bottom
