$font-weight: 500;
$font-style: normal;
$font-size: 16px;
$line-height: 1.2;
$manrope: "Manrope", "Arial", sans-serif;
$old-standard: "OldStandardTT", "Times New Roman", serif;
$prosto-one: "ProstoOne", "Arial", sans-serif;
